body{
    background-image:url(https://besthqwallpapers.com/Uploads/12-2-2021/153832/thumb2-asta-4k-wallpapers-with-names-female-names-asta-name.jpg);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px auto;
    width: 200px;
    padding: 10px;
}

input{
    margin-bottom: 15px;
    padding: 4px;
}